*.pyc
*.pyo
*.egg
*.egg-info
__pycache__
bin
build
develop-eggs
dist
eggs
parts
.DS_Store
.installed.cfg
docs/_build
cover/
.tox
*.bak
*.log

.vscode/

plugins
pt
utils

hostloc/hostloc.php
hostloc/hostloc_async.py
hostloc/hostloc2.php
hostloc/local.cfg
hostloc/requirements.txt
.history
